version: '3'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.12.1
    networks: 
      - elastic
    environment:
      - node.name=elasticsearch
      - cluster.name=datasearch
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - cluster.initial_master_nodes=elasticsearch
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
  kibana:
    image: docker.elastic.co/kibana/kibana:7.12.1
    networks: 
      - elastic
    ports:
      - "5601:5601"

volumes:
  esdata:
    driver_opts:
      device: /Users/thinh/Desktop/elasticsearch/data
      o: bind
      type: none

networks: 
  elastic:
    driver: overlay